.container {
  position: relative;
  background-color: #1c1d1f;
  overflow: hidden;
}

/* Hero background section */
.heroSection {
  position: relative;
  height: 40vh;
}

.heroImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Our Collection Card */
.collectionCard {
  background-color: #1b1d1f;
  width: 70%;
  max-width: 1300px;
  margin: -120px auto 50px;
  border-radius: 12px;
  padding: 5%;
  text-align: center;
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.decorIcon {
  width: 100%;
  margin-bottom: 10px;
  margin: 0 auto;
  display: block;
  opacity: 0.8;
  color: #2f2523;
  position: absolute;
  right: 19%;
  top: 20px;
  width: 30%;
  height: 40%;
}

.title {
  font-size: 1.8rem;
  font-weight: 600;
  color: white;
}

.description {
  font-size: 1rem;
  color: #6e747c;
  margin: 10px auto 20px;
  max-width: 500px;
  line-height: 1.5;
}

/* Toggle Buttons */
.toggleButtons {
  margin-bottom: 20px;
}

.toggleButtons button {
  background: transparent;
  color: #fff;
  border: 0px solid #838a92;
  border-radius: 10px;
  padding: 8px 16px;
  margin: 0px 10px ;
  cursor: pointer;
  transition: all 0.1s ease;
}

.toggleButtons button.active {
  background-color: #4d5562;
  border: 1px solid #4d5562;
}

.toggleButtons button:hover {
  opacity: 0.9;
}

/* Grid of cards */
.grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  /* grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)); */
  gap: 20px;
  justify-items: center;
  align-items: start;
  margin-top: 20px;
}

/* @media(max-width:900px){
  .grid{
    grid-template-columns: repeat(2,1fr);
  }
}

@media(max-width:600px){
  .grid{
    grid-template-columns: 1fr;
  }
}

@media(max-width:768px){
  .decorIcon{
    width: 80px;
    margin-bottom: 6px;
    width: 45px;
    transform: translate(-2px);
  }
} */

@media (max-width : 1280px){
  .collectionCard {
    padding: 35px;
  }
  .title {
    font-size: 2.2rem;
  }
  .grid {
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
  }
}
@media (max-width:1024px){
  .collectionCard {
    padding: 30px;
    max-width: 900px;
  }
  .title{
    font-size: 2rem;
  }
  .description{
    font-size: 0.95rem;
    max-width: 500px;
  }
  .grid{
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
  }
  .decorIcon{
    width:30%;
    right: 40px;
    top: 0px;
  }
}
@media(max-width:680px){
  .heroSection{
    height: 30vh;
  }
  .collectionCard{
    width: 95;
    padding: 25px 18px;
    margin-top: -50px;
  }
  .decorIcon {
    width: 60%;
    right: 10%;
    top: 0px;
    height: 20%;
  }
  .title{
    font-size: 1.6rem;
    margin-top: 6px;
  }
  .description{
    flex-direction: column;
    max-width:90%;
  }
  .toggleButtons{
    flex-direction: column;
    gap: 10px;
  }
  .toggleButtons button {
    width: 40%;
    font-size: 0.8rem;
  }
  .grid{
    grid-template-columns: 1fr;
    gap: 18px;
  }

}